.title {
    text-align: center;
}

.sub-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box {
    float: left;
    width: 33.3%;
    height: 95vh;
    padding: 15px;
    box-sizing: border-box;
}

.wrapper .row {
    margin: 5px 0px;
    cursor: pointer;
}

.wrapper .row i {
    margin-right: 5px;
}

#input-path {
    width: 50%;
}

.local-directories {
    background-color: #eee;
}

.top {
    margin: 10px 0px;
}

#parent-folder {
    cursor: pointer;
}

.upload-box {
    background-color: #ccc;
}

.server-files {
    background-color: #ffffff;
}

#upload-files {
    min-height: 75vh;
    margin-bottom: 10px;
}

#button-upload {
    float: right;
}